.dark_mode__button {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    width: 18px;
    height: 18px;
}

.sunrays {
    color: var(--color-primary);
}

.sun {
    color: var(--color-primary);
}

.dark_mode__button:focus,
.icon:focus {
    outline: none;
}

.dark_mode__button:focus > .icon{
    /* outline: 2px solid var(--color-secondary); */
    /* outline: 2px solid rgba(247, 221, 4, 1); */
}

@media only screen and (min-width: 600px) {
    .icon {
        width: 24px;
        height: 24px;
    }
}
