.scroll_down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a.scroll_down:active,
a.scroll_down:hover {
    background-color: transparent;
}

.scroll_down .scroll_down__chevron {
    width: 32px;
    margin: 10px 0;
    stroke: var(--color-primary);
    stroke-width: 0.75;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: stroke 0.3s ease-in-out;
}