html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

a {
  color: var(--color-primary);
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: color 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
a:active,
a:hover {
  outline-width: 0;
  background-color: var(--color-anchor);
}
a:focus {
  /* outline: 2px solid var(--color-secondary); */
  /* outline: 2px solid rgba(247, 221, 4, 1); */
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}