.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.about__title {
    margin: 10px 0;
}

.about__description {
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
}

.about__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.about__skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.skill__description {
    flex-basis: 100%;
    text-align: center;
}

.link {
    margin: 0 10px;
}

.link:first-child {
    margin-left: 0;
}

.link:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 600px) {
    .page {
        align-items: flex-start;
    }
    
    .about__description {
        max-width: 600px;
        padding: 0;
        text-align: left;
    }

    .about__skill {
        justify-content: flex-start;
        margin-top: 100px;
    }

    .skill__description {
        text-align: left;
    }

    .first_icon_fix {
        margin-left: 0;
    }
}