.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    transition: background-color 0.3s ease-in-out;
}

.brand__name {
    margin: 10px 0;
    color: var(--color-brandName);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4.8rem;
    transition: color 0.3s ease-in-out;
    animation: fade-in 1s 1s forwards;
    opacity: 0;
}

.brand__position {
    margin: 10px 0 5px;
    color: var(--color-brandPosition);
    font-size: 2.4rem;
    font-weight: 200;
    transition: color 0.3s ease-in-out;
    animation: fade-in 1s 1.5s forwards;
    opacity: 0;
}

.brand__description {
    margin: 5px 0 20px;
    font-size: 1rem;
    font-weight: 300;
    animation: fade-in 1s 2s forwards;
    opacity: 0;
}

.brand__contact {
    position: absolute;
    bottom: 10%;
    font-size: 1rem;
    font-weight: 300;
    animation: fade-in 1s 3.5s forwards;
    opacity: 0;
}

.brand_primary {
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;
}

.text_primary {
    color: var(--color-text);
    transition: color 0.3s ease-in-out;
}

@media only screen and (min-width: 600px) {
    .brand__description,
    .brand__contact {
        font-size: 0.9rem;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}